/* Ensure that padding and border are included in total width and height of all elements for better 'responsive' design */
* {
	box-sizing: border-box;
}

/* For sticky footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Apply a pretty, gray textured background to entire site */
	background-image: url('../images/micro_carbon.png');
	/* For sticky footer */
	margin: 0 0 80px;
}

/* Add additional padding to container so that there is space between content and edge of screen */
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

section, aside {
	border: 1px solid #dddddd;
	border-radius: 7px;
}

/* Remove darkly theme navbar bottom margin (too much space between navbar and content) */
.navbar {
	margin: 0;
}

nav {
	text-align: center;
}

/* Move the nav ul down, inline with the <h1> name */
nav ul {
	padding: 10px 0px;
}

nav ul li {
	display: inline;
	padding: 0px 17px;
	/* Make the border a bit lighter than the text, with rgba.  Use rgb as a browser-incompatibility fallback */
	border-left: 1px solid rgb(119,119,119);
	border-left: 1px solid rgba(119,119,119,0.4);
	color: #777;
}

/* Make background of .panel content slightly opaque */
.panel {
	opacity: .6;
}

section {
	padding: 25px;
}

/* Make the image rotate on hover event */
img {
    border-radius: 7px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}
	
img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

article img {
	width: 100%;
	height: auto;
	padding: 12px;
}

aside img {
	width: 66;
	height: 66;
}

/* Heading section line dividers */
hr {
	display: block; 
	height: 1px; 
	border: 0;
	padding: 0; 
}

section hr {
	border-top: 2px solid #ccc;
	margin: .6em 0 1.4em 0;
}

aside {
	padding: 28px;
}

aside hr {
	border-top: 1px solid #ccc;
	margin: .6em 0 1.4em 0;
}

footer {
	/* Stretch the entire width of the page */
	width: 100%;
	/* Add a top turquise-esque border */
	border-style: solid;
	border-top-width: 3px;
	border-top-color: #4aaaa5;
	border-bottom-color: #375a7f;
    border-left-color: #375a7f;
    border-right-color: #375a7f;
	background: #375a7f;
	/* sticky footer styles */
	position: absolute;
	bottom: 0;
}

h1, h2, h3, h4, h5 {
	color: #4aaaa5;
}

/* Force less margin to center <h1> heading */
.navbar h1 {
	margin-top: 18px;
}

/* Put less space between panel and heading */
section h2 {
	margin-top: 0;
}

/* Put less space between panel and heading */
aside h3 {
	margin-top: 0;
}

article h4 {
	/* Note: width and top styling are inside of media queries */
	position: absolute;
	background-color: #4aaaa5;
	color: #fff;
	padding: 20px 5px;
	/* Scoot it over just a little bit, to get it even with the left border of the image */
	/*margin-left: .53em;*/
	transition: .8s;
}

article h4:hover {
	background-color: #008cba;
	opacity: .8;
	color: #ffa500;
	cursor: pointer;
}

/* Note: the footer height is 80px including padding, <h5> and border */
footer h5 {
	color: #ccc;
	padding: 15px;
}

aside ul {
	margin-top: 26px;
	/* Override left padding.  Couldn't find source */
	padding-left: 0;
}

aside ul li {
	display: inline;
	padding: 2%;
}

p {
	line-height: 1.5;
	padding: 1px; /* Columns must have some content for grid to work*/
}

a {
	text-decoration: none;
	color: #777;
	transition: .5s; /* Make a slow transition to #4aaa5; on hover event */
}

a:hover {
	color: #008cba;
}

/* Override Bootstrap button padding so there is more space on left and right of value */
.btn {
	padding: 10px 30px;
}

input[type="text"] {
	background: transparent;
}

/* Give button a slower transition effect */
input[type="submit"] {
	transition: .7s;
}

/* Make button a slightly lighter color on hover event */
input[type="submit"]:hover {
	background-color: #4aaaa5;
	cursor: pointer;
}

/* Custom styling for form inputs */
.form-control {
	color: #555;
	border: .5px solid #ccc;
}

textarea.form-control {
	height: 120px;
	background: transparent;
}

/* Make the text flow up to the right of the bio pic */
.bio-pic {
	float: left;
	margin-right: 25px;
}

/* Center all main headings */
.text-center {
	text-align: center;
}

/* Prepare the image for a floating label */
.img-wrapper {
	position: relative;
	text-align: center;
}

.img-wrapper.first {
	margin-top: 0;
}

.port-img-wrapper {
	text-align: center;
	margin-top: 30px;
	position: relative; /* Have to have this so that the picture will float up in it */
}

.port-img-wrapper.first {
	margin-top: 0;
}

/* Apply large-column custom styling if screen is at least 980px wide */
@media (min-width: 1200px) {
	.margin-lg {
		margin-bottom: 40px;
	}

	.img-wrapper {
		margin-bottom: 24px;
	}

	.img-wrapper.first {
		padding-right: 12px;
	}

	.img-wrapper.second {
		padding-left: 12px;
	}

	/* Stretch the image the full container width to put it inline with the <hr>, and put extra space between images */
	article img {
		width: 100%;
		padding: 0;
	}

	/* Special instructions for label distance from top of screen, and label width, due to discrepancies */
	article h4 {
		top: 68%;
		width: 92.6%;
		margin: 0;
	}

	/* Make sure the image scales while on large devices */
	.bio-pic img {
		width: 200px;
		height: 240px;
	}
}

/* Apply medium-columns custom styling if screen is at least 768px wide, and less than 980px wide */
@media (min-width: 769px) and (max-width: 1200px) {
	/* Apply margin to main section */
	.margin-md {
		margin-bottom: 40px;
	}

	.img-wrapper {
		margin-bottom: 24px;
	}

	.img-wrapper.first {
		padding-right: 12px;
	}

	.img-wrapper.second {
		padding-left: 12px;
	}

	/* Stretch the image the full container width to put it inline with the <hr>, and put extra space between images */
	article img {
		width: 100%;
		padding: 0;
	}

	/* Special instructions for label distance from top of screen, and label width, due to discrepancies */
	article h4 {
		top: 78%;
		width: 94.7%;
		margin: 0;
	}

	/* Make sure the image scales while on medium devices */
	.bio-pic img {
		width: 200px;
		height: 240px;
	}
}

/* Apply small-columns custom styling if screen is at least 640px wide */
@media (max-width: 768px) {

	.margin-sm {
		margin-bottom: 40px;
	}

	header {
		position: static;
	}

	/* Remvoe border when on small screens */
	nav ul li {
		border: none;
    }

    .img-wrapper {
    	margin-bottom: 30px;
    }

    /* Stretch the image the full container width to put it inline with the <hr>, and put extra space between images */
    article img {
    	width: 100%;
    	padding: 0;
    }

	/* Special instructions for image label distance from top of screen, and label width, due to discrepancies */
	
	article h4 {
		top: 73%;
		width: 92.2%;
		margin: 0;
	}

	/* Take the margin off of the div so that the picture is centered. Add spacing between bottom and main text */
	.bio-pic {
		margin: 0;
		margin-bottom: 20px;
	}

	/* Make sure the image scales while on small devices */
	.bio-pic img {
		width: 100%;
		height: auto;
	}
}